html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.face {
  width: 450px;
  height: 320px;
  border: 3px solid #000;
  border-radius: 50%;
  background: #f8ddc4;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.face .eye {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
  margin-top: 70px;
  border: 3px solid #000;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.face .eye::after {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  /* border: 1px solid #000; */
  top: -24;
  left: -10px;
  animation: shake 0.1s infinite ease-in-out alternate;
}
.face .eye::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  /* border: 1px solid #000; */
  bottom: -20px;
  right: 0;
  animation: shake 0.1s infinite ease-in-out alternate;

}

.mouth{
  width: 180px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  position: absolute;
  bottom: 60px;
  overflow: hidden;
  
}
.tooth{
  width: 30px;
  height: 30px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
.t-left{
  top: -10px;
  left: 30px;
}
.t-center{
  top: -15px;
  left: 75px;
}
.t-right{
  top: -10px;
  right: 30px;
}
.tongue{
  width: 60px;
  height: 30px;
  border-radius: 50%;
  background: #ea6e74;
  bottom: -20px;
  right: 40px;
  position: absolute;
}
.cheek{
  width: 30px;
  height: 60px;
  border-radius: 50%;
  background: #f8ddc3;
  position: absolute;
  bottom: 50px;
}
.c-left{
  border-right: 2px solid #000;
  left: 125px;
  transform: rotate(10deg);
  box-shadow: inset -5px 1px 2px #ddc2b0;
}
.c-right{
  border-left: 2px solid #000;
  right: 125px;
  transform: rotate(-10deg);
  box-shadow: inset 5px 1px 2px #ddc2b0;
}
@keyframes shake{
  0%{transform: translateX(-1px);}
  100%{transform: translateX(1px);}
}